/*Enchanted runner*/

body {
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, serif;
    background: linear-gradient(135deg,#10251d,#193d2d,#0d1c17);
    color: white;
    text-align: center;
}

h1 {
margin-top: 100px;
font-size: 4rem;
color: #f4f1d0;
text-shadow: 0 0 10px rgba(255,255,255,0.4) 0 0 25px rgba(120,201,138,0.5);
}

p {
    font-size: 1.3rem;
    margin-bottom: 35px;
}

button {
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #183326;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/*Game world*/

#game {
    width: 90%;
    max-width: 900px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border: 3px soild rgba (255,255,255,0.4);
    border-radius: 25px;
    background: linear-gradient(#173f31,#245c3f);
    box-shadow: 0 0 25px rgba (120,201,138,0.4);
}

/*player*/

#player {
    position: absolute;
    left: 80px;
    bottom: 55px;
    font-size: 3rem;
}

/*Top navigation*/
nav {
    margin: 20px;
    padding: 18px 30px;
    background: rgb(201, 219, 182);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #183326;
    border: 5px;
    border-style: outset;
    border-color: rgb(212,175,55) ;
    
}

/*website name*/
nav h1 {
    margin: 0;
    font-size: 1.4rem;
        color: #183326;

}

/*Navigation links*/

#nav-ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-li a {
    color: #183326;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: #6e441c;
}

/*Enchanted ground*/
#game::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #145322;
    border-top: 5px solid #48cf66;
}

/*Magical lights*/

#game::before{
    content: "✦ ✧ ✦ ✧ ✦";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    letter-spacing: 50px;
    color: #c9e6d1;
    opacity: 0.7;
}

/*Game states */

#game.playing {
    box-shadow{
        box-shadow: 0 0 25px rgba(120, 201, 138, 0.6), 0 0 60px rgba(120, 201, 138, 0.3), 0 0 100px rgba(120,201,138,0.3);
        border-color: #78c98a; 
    }
}

.hidden {
    display: none;
}


